body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*
 *
 * Common
 * 
 */

.news__more {
  float: right;
  font-size: .8em;
  color: #333;
  text-decoration: none;
}


/*
 *
 * Header
 *
 */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  height: 72px;
  margin-right: 1em;
  margin-left: 1em;
  vertical-align: top;
  margin-top: 12px;
}

.header__title {
  font-weight: 300;
  font-size: 4em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #212121;
}


/*
 *
 * Top Level Navigation
 *
 */

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}


/*
 *
 * Main
 *
 */

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


/*
 *
 * Content
 *
 */
 
 

/*
 *
 * Hero
 *
 */
 
.hero {

    width: 100%;
    position: relative;
    background-image: url("./images/banner.png");
    background-size: cover;
    height: 300px;

}

.hero article {
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 0;
	height: 40%;
	width: 100%;
	color: #fff;
	padding: 1em;
}



/*
 *
 * Recent News
 *
 */

.recent-news {
  flex-grow: 1;
  clear: both;
  padding: 1em;
}

.snippet__thumbnail {
  width: 100px;
  float: left;
  margin-right: 1em;
}


.snippet__title {
  font-weight: 500;
}

.snippet__title a {
  text-decoration: none;
  color: #666;
  padding: 1.5em inherit;
}



/*
 *
 * Footer
 *
 */
 
footer {
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
}

footer li {
    display: inline-block;
    margin-top: 0px;
    margin-right: 1em;
    margin-bottom: 0px;
    margin-left: 1em;
}

footer a {
    text-decoration: none;
    color: #333;
    padding: 1.5em;
}